{% extends 'assistant/basic.html' %}
{% block body %}
{% load mathfilters %}
    <form action = "/birthday/0/add" method='POST'>
        {% csrf_token %}
        <div class = "container mt-5">
            <div class = "form-row">
                <div class="form-group col-md-4">
                    <label for="frename">Enter Your Friends name </label>
                    <input type="text" class="form-control" name = "frename" id="title" aria-describedby="emailHelp" required>
                </div>
                <div class="form-group col-md-2 ml-5">
                    <label for="birthdate">Enter his Birthdate</label>
                    <input type="date" id="birthdate" class = "form-control" name="birthdate" required>
                </div> 
            </div>
                <div class="form-group">
                    <a href="#"><button class="btn btn-primary">Save Your Friends Birthday</button></a>
                </div>
            
        </div>
    </form>
    
    {% if todaybday %}
    <h4 class = "mt-4" style ="margin-left: 200px;">Today's Birthday</h4>
        <div class = "container">
            <table class = "table">
                <thead>
                    <tr>
                      <th scope="col">Sr No.</th>
                      <th scope="col">Friend's Name</th>
                      <th scope="col">Birthdate</th>
                      <th scope="col">Age</th>
                      <th scope="col">Wish</th>
                      <th scope="col">Delete</th>
                    </tr>
                  </thead>
                <tbody>
                {% for i in todaybday %}
                <tr>
                    <th class = "row">{{forloop.counter}}</th>
                    <td>{{i.bday_name}}</td>
                    <td>{{i.bday_date}}</td>
                    <td>{{2020|sub:i.bday_date.year}}</td>
                    <td>
                    <button class = "btn btn-primary">Wish him</button>
                </td>
                <td>
                    <button class = "btn btn-primary ">Delete</button>
                </td>
            </tr> 
                {% endfor %}
            </tbody>
            </table>
        </div>
        
    {% endif %}
    {% if tasklist %}
    <h4 class = "mt-4" style ="margin-left: 200px;">Recent Birthday</h4>
    
        <div class = "container">
            <table class = "table">
                <thead>
                    <tr>
                      <th scope="col">Sr No.</th>
                      <th scope="col">Friend's Name</th>
                      <th scope="col">Birthdate</th>
                      <th scope="col">Age</th>
                      <th scope="col">Wish</th>
                      <th scope="col">Delete</th>
                    </tr>
                  </thead>
                <tbody>
                {% for i in tasklist %}
                <tr>
                    <th class = "row">{{forloop.counter}}</th>
                    <td>{{i.bday_name}}</td>
                    <td>{{i.bday_date}}</td>
                    <td>{{2020|sub:i.bday_date.year}}</td>
                    <td>
                    <button class = "btn btn-primary ">Wish him</button>
                </td>
                <td>
                    <button class = "btn btn-primary ">Delete</button>
                </td>
            </tr> 
                {% endfor %}
            </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}