{% extends 'assistant/basic.html' %}
{% block css %}
body {
    
  background-image : url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQnecdBEnb2KuW1KGopJ3SIsz-qChR8WPNUpQ&usqp=CAU');

height: 100%; 
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
}

{% endblock %}
{% block body %}
<div class = "container mt-4" style = "color:white; font-size:24px;">
<form action  ="/password/0/add" method = "POST">
    {% csrf_token %}
    <div class="form-group col-md-4">
        <label for="appname">AppName</label>
        <input type="text" name="appname" class="form-control" aria-describedby="emailHelp" required>
    </div>
    <div class="form-group col-md-2">
        <label for="apppass">Password</label>
        <input type="password" name="apppass" class="form-control" id="exampleInputPassword1" required>
    </div>
    <a href="#"><button class="btn btn-primary ml-3">Save</button></a>
</form>
<form action = "/password/0/tell" method = "POST">
    {% csrf_token %}
    <div class="form-group col-md-4 mr-5 mt-5">
        <label for="retrievepass">Which Password did you forget?</label>
        <select id="inputcategory" class="form-control" name="retrievepass">
          <option selected>Choose...</option>
          {% for i in tasklist %}
            <option>{{i.account}}</option>
          {% endfor %}
        </select>
      </div>
      <a href="#"><button class="btn btn-primary ml-3">Get the Password</button></a>
</form>
{% if password %}
    <p class = "ml-5 mt-3">Your password is {{password}}</p>
{% endif %}
</div>
{% endblock %}